NEXT_PUBLIC_DIRECTUS_URL=https://directus.alattas.de
DIRECTUS_STATIC_TOKEN=your-read-only-token
NEXT_PUBLIC_GOOGLE_MAPS_KEY=your-google-maps-key
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_ALADHAN_METHOD=3
